*{
    padding: 0px;
    margin: 0px;
}

.home, .receita, .config, .insta, .whats {
    text-decoration: none;
    color: #14212b;
    display: block;
    background-color: #0d171f;
    padding: 5px 5px;
    border-radius: 20px;
    margin-top: 20px;
}

.home:hover, .receita:hover, .config:hover, .insta:hover, .whats:hover {
    background-color: #2b3944;
    transition: all .1s linear;
}

body {
    background-image: url(../IMG/FUNDO_D.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial;
}

ul {
    list-style: none;
}

.barra {
    height: 60px;
    background-color: #FFA500;
    border-bottom: 20px solid #14212b;
}

label.treco {
    background-color: #ffa500;
    float: left;
    position: relative;
    left: 20px;
}

label.treco:hover {
    background-color: #ffb120;
    height: 60px;
    cursor: pointer;
}

.menu {
    height: 60px;
}

#check {
    display: none;
}

#barier {
    border-color: #636363;
    border-style: solid;
    border-radius: 15px;
}

#check:checked ~ nav {
    transform: translateX(270px);
}

.faixa {
    background-color: #FFA500;
    height: 60px;
    width: 20%;
    float: right;
}

.juju {
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: -73px;
}

.logo {
    float: right;
    width: 195.5px;
}

.busca {
    height: 60px;
    width: 70%;
    float: right;
    background-color: #FFA500;
}

.bagulhin {
    background-color: #14212b;
    color: #FFFFFF;
    width: 300px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 15px;
    margin-left: 50px;
}

.side {
    background-color: #14212b;
    width: 60px;
    height: 10%;
    left: -250px;
    position: absolute;
    transition: all .2s linear;
    top: 70px;
}

.home {
    width: 50px;
}

.receita {
    width: 50px;
}

.config {
    width: 50px;
}

.insta {
    width: 50px;
}

.whats {
    width: 50px;
}

.recipe-card1{
    background-color: var(--card-bg-color);
    box-shadow: var(--card-shadow);
    border-radius: var(--global-radius);
    color: var(--dish-text-color);
    display: flex;
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 90px;
}

.recipe-card1.receita1 {
    align-items: center;
    justify-content: center;
}

.recipe-card1 img {
    border-top-left-radius: var(--global-radius);
    border-top-right-radius: var(--global-radius);
    width: 300px;
}

.recipe-card2{
    background-color: var(--card-bg-color);
    box-shadow: var(--card-shadow);
    border-radius: var(--global-radius);
    color: var(--dish-text-color);
    display: flex;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-top: 90px;
}

.recipe-card2.receita2 {
    align-items: center;
    justify-content: center;
}

.recipe-card2 img {
    border-top-left-radius: var(--global-radius);
    border-top-right-radius: var(--global-radius);
    width: 300px;
}

.recipe-card3{
    background-color: var(--card-bg-color);
    box-shadow: var(--card-shadow);
    border-radius: var(--global-radius);
    color: var(--dish-text-color);
    display: flex;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-top: 90px;
}

.recipe-card3.receita3 {
    align-items: center;
    justify-content: center;
}

.recipe-card3 img {
    border-top-left-radius: var(--global-radius);
    border-top-right-radius: var(--global-radius);
    width: 300px;
}

:root {
    --card-bg-color: #2b3944;
    --card-text-color: #FFFFFF;
    --dish-type-color: #FFA500;
    --global-radius: 15px;
    --card-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.02), 
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 
    0 12.5px 10px rgba(0, 0, 0, 0.035), 
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.card-meta h2 {
    margin-top: 25px;
    text-align: center;
    line-height: 35px;
}

.recipe-card3 h2 {
    margin-top: 10px;
    text-align: center;
    line-height: 35px;
}

.card-meta a {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.dish-stats {
    color: #FFFFFF;
    margin-top: 15px;
    display: flex;
    justify-content: right;
    margin-right: 5px;
    margin-left: 5px;
}

.dish-type {
    background-color: #FFA500;
    border-radius: 18px;
    border-color: #FFA500;
    width: 65px;
    height: 30px;
    margin-top: -5px;
    cursor: pointer;
}

.tudo {
    display: flex;
}

.cuzcuz {
    height: 0;
}

.dish-type:hover {
    background-color: #db8f00;
    transition: .2s;
}

.dish-stats li:not(:last-child) {
    margin-right: 36px;
}

.dish-stats .dish-type:not(:last-child) {
    margin-right: 50px;
}

.dish-stats .recipe-card2 li:not(:last-child) {
    margin-right: 36px;
}

.dish-stats .recipe-card2 .dish-type:not(:last-child) {
    margin-right: 50px;
}

.dish-stats .recipe-card3 li:not(:last-child) {
    margin-right: 36px;
}

.dish-stats .recipe-card3 .dish-type:not(:last-child) {
    margin-right: 50px;
}
