<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Jurema na Cozinha</title>
        <link rel="stylesheet" id="white_theme" href="../CSS/pagina.css">
        <link rel='icon' type='image/jpg' href="../IMG/RISOTO.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
            <main>
                <header class="principal">
                    <div class="faixa">
                        <div class="logo">
                            <img class="juju" src="../IMG/JUREMA.png">
                        </div>
                    </div>
                    <div class="busca">
                        <input placeholder="Pesquise" class="bagulhin" type="text" id="barier"></input>
                    </div>
                </header>
                <div class="barra">
                    <input type="checkbox" id="check">
                        <label class="treco" for="check">
                            <img class="menu" src="../IMG/MENU.png">
                        </label>
                    <nav class="side">
                        <ul>
                            <li><a href="../pagina.html"><img class="home" src="../IMG/HOME.png"></a></li>
                            <li><a href="./template1.html"><img class="receita" src="../IMG/RECEITAS.png"></a></li>
                            <div class="bagu">
                                <input type="checkbox" id="set">
                                    <label class="trem" for="set">
                                        <li><img class="config" src="../IMG/SETINGS.png"></li>    
                                    </label>
                                </input>
                                <div class="config-fundo">
                                    <div class="container">
                                        <div class="toggle-wrapper">
                                            <label class="switch">
                                                <input type="checkbox" id="hidden" name="theme"/>
                                                    <div id="slider">
                                                        <img id="lua" src="../IMG/LUA.png">
                                                            <div id="button">
                                                            </div>
                                                        <img id="sol" src="../IMG/SOL.png">
                                                    </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li><a href=""><img class="insta" src="../IMG/INSTA.png"></a></li>
                            <li><a href=""><img class="whats" src="../IMG/WHATS.png"></a></li>
                        </ul>
                    </nav>
                </div>
            </main>

            <div class="fundo3">

            </div>
    <script type="text/javascript" src="../JS/template1.js"></script>    
    </body>

</html>