<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Jurema na Cozinha</title>
        <link rel="stylesheet" id="white_theme" href="./template1.css">
        <link rel='icon' type='image/jpg' href="../IMG/RISOTO.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <header class="principal">
                <div class="faixa">
                    <div class="logo">
                        <img class="juju" src="../IMG/JUREMA.png">
                    </div>
                </div>
                <div class="busca">
                    <input placeholder="Pesquise" class="bagulhin" type="text" id="barier"></input>
                </div>
            </header>
            <div class="barra">
                <input type="checkbox" id="check">
                    <label class="treco" for="check">
                        <img class="menu" src="../IMG/MENU.png">
                    </label>
                <nav class="side">
                    <ul>
                        <li><a href="../pagina.html"><img class="home" src="../IMG/HOME.png"></a></li>
                        <li><a href=""><img class="receita" src="../IMG/RECEITAS.png"></a></li>
                        <li><a href=""><img class="config" src="../IMG/SETINGS.png"></a></li>
                        <li><a href=""><img class="insta" src="../IMG/INSTA.png"></a></li>
                        <li><a href=""><img class="whats" src="../IMG/WHATS.png"></a></li>
                    </ul>
                </nav>
            </div>
        </main>
        <div class="tudo">
            <label class="cuzcuz">
                <div class="recipe-card1">
                    <div class="receita1">
                        <figure>
                            <img src="../IMG/4.png" alt="card image">
                        </figure>
                        <div class="card-meta">
                            <ul class="dish-stats">
                                <button class="dish-type">PRATO</button>
                                <li>30 MIN</li>
                                <li>4 PORÇÕES</li>
                            </ul>
                            <img class="IMG_PRATO" src="../IMG/PRATO.png">
                            <h2><a href="">POUTINE</a></h2>
                        </div>
                    </div>
                </div>
            </label>

            <label class="cuzcuz">
                <div class="recipe-card2">
                    <div class="receita2">
                        <figure>
                            <img src="../IMG/3.png" alt="card image">
                        </figure>
                        <div class="card-meta">
                            <ul class="dish-stats">
                                <button class="dish-type">PRATO</button>
                                <li class="li1">90 MIN</li>
                                <li class="li2">8 PORÇÕES</li>
                            </ul>
                            <img class="IMG_PRATO" src="../IMG/PRATO.png">
                            <h2><a href="">NANAIMO BARS</a></h2>
                        </div>
                    </div>
                </div>
            </label>

            <label class="cuzcuz">
                <div class="recipe-card3">
                    <div class="receita3">
                        <figure>
                            <img src="../IMG/2.png" alt="card image">
                        </figure>
                        <div class="card-meta">
                            <ul class="dish-stats">
                                <button class="dish-type">PRATO</button>
                                <li class="li1">40 MIN</li>
                                <li class="li2">9 PORÇÕES</li>
                            </ul>
                            <img class="IMG_PRATO" src="../IMG/PRATO.png">
                            <h2><a href="">PANQUECA CANADENSE</a></h2>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </body>
</html>